*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
}
body {
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    .icons {
        display: flex;
        &_link {
            position: relative;
            z-index: 100;
            &:hover {
                filter: drop-shadow(0 0 3px#FFD8B5);
            }
        }
        .search {
            margin-right: 29px;
            &_input {
                position: absolute;
                width: 280px;
                height: 35px;
                border: 1px solid rgba(30, 34, 64, 0.35);
                padding: 0 20px;
                margin-top: -7px;
                transform: translateX(-95%);
                z-index: 9;
                &_active {
                    animation: move .5s forwards;
                }
                @keyframes move {
                    from {
                        width: 0;
                    }
                    to { 
                        width: 280px;
                    }  
                }
                &_no-active {
                    animation: rever .5s forwards; 
                }
                @keyframes rever {
                    from {
                        width: 280px;
                    }
                    to { 
                        width: 20px;
                    }  
                }
            }
        }

    }
}

.logo {
    font-weight: 900;
    font-size: 1.9em;
    line-height: 2.2em;
    text-decoration: none;
    color: #343967;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #343967;
    &_link {
        text-decoration: none;
        &:hover {
            color: #FFBCBC;
        }
    }
}

.hamburger {
	display: none;
}

.header {
    display: flex;
    margin-top: 46px;
    margin-left: 50px;
    .background {
        position: relative;
        width: 505px;
        height: 702px;
        background: url('../img/main.png') center (center / cover) no-repeat;
        filter: sepia(20%);
    }
    .triangle {
        position: absolute;
        margin-top: -100px;
        z-index: 9;
    }
    .circle {
        position: absolute;
        z-index: 9;
        &-bg {

        }
    }
    &_text {
        margin: 311px 0 0 167px;
        z-index: 10;
        .data {
            display: block;
            font-weight: 500;
            line-height: 108.5%;
            letter-spacing: 0.2em;
            color: #1E2240;
            margin-top: 25px;
        }
        .brand-items {
            width: 330px;
            height: 50px;
            background: url('../icon/hashtag.png') left no-repeat;
            border-bottom: 1px solid #BFBEBE;
            padding: 15px 0;
            margin: 30px 0 43px 0;
            &_text {
                font-weight: 500;
                line-height: 108.5%;
                letter-spacing: 0.05em;
                color: #1E2240;
                text-decoration: none;
                margin-left: 50px;
                &::after {
                    content: "\276F";
                    margin-left: 89px;
                }
                &:hover {
                    color: #5364FE;
                }
            }
        }
        .visit-store {
            font-size: 0.9em;
            line-height: 108.5%;
            letter-spacing: 0.24em;
            font-weight: bold;
            text-decoration: none;
            color: #1E2240;
            &:hover {
                text-decoration: underline #5364FE;
            }
            &_span {
                font-size: 0.9em;
                color: #5364FE;
            }
        }
    }
    .circle-bg {
        margin: 20% 0 0 30%;
    }
}

.title {
    position: absolute;
    font-weight: 900;
    font-size: 4.4rem;
    line-height: 108.5%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333973;
    margin-left: 5.3em;
    z-index: 10;
    &-accent {
        color: #FFD8B5;
        margin-left: 0;
    }
    &_h2 {
        position: relative;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 0;
        margin-left: 0;
        &-accent {
            letter-spacing: 0;
            font-size: 2.5rem;
        }
    }
}

.subtitle {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 150.5%;
    letter-spacing: 0.05em;
    color: #343967;
    margin-top: 32px;
}

.btn {
    width: 229px;
    height: 49px;
    border: none;
    background: #FFD8B5;
    font-weight: 600;
    font-size: 0.8em;
    line-height: 108.5%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1E2240;
    cursor: pointer;
    &:hover {
        background: #FFBCBC;
    }
    &-map {
        margin-top: 30px;
    }
}

.new-items {
    margin-top: 81px;
    .items {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        margin-top: 63px;
        &_text {
            width: 400px;
            margin: 10% 0 0 25%;
            &-subtitle {
                font-size: 1.5em;
                color: #343967;
            }
            &-descr {
                font-weight: 500;
                line-height: 1.6rem;
                letter-spacing: 0.05em;               
                color: #343967;
            }
            &-btn {
                font-weight: 600;
                font-size: 0.8rem;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: #1E2240;
                margin-top: 40px;
            }
            .price {
                font-weight: 800;
                font-size: 1.5rem;
                color: #343967;
                margin-left: 70px;
            }
        }
        &_img {
            width: 100%;
        }
        &_count {
            color: rgba(31, 35, 71, 0.29);
            text-align: end;
            margin: -5% 10% 0 0;
            cursor: default;
            &-text {
                font-weight: bold;
                font-size: 4.5em;
            }
            &-prev {
               cursor: pointer;

            }
            &-next {
              cursor: pointer;  
            }
        }
        &_next-page {
            display: none;
        }
    }
}

.catalog {
    font-size: 2.25em;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 89px 118px 0 118px;
    .item {
        &:hover {
            filter: brightness(0.4);
            cursor: pointer;
        }
        &-1 {
            grid-area: photo1;
            background: url('../img/catalog1.jpg') no-repeat;
            background-size: 183%;
            background-position: 50% 50%;
            display: flex;
            align-items: flex-end;
            padding: 0 0 20px 28px;
        }
        &-2 {
            grid-area: photo2;
            background: url('../img/catalog2.jpg') no-repeat;
            background-size: 100%;
            background-position: 50% 60%;
            display: flex;
            align-items: flex-end;
            padding: 0 0 20px 28px;
        }
        &-3 {
            grid-area: photo3;
            background: url('../img/catalog3.1.jpg') no-repeat;
            background-size: 100%;
            background-position: 50% 70%;
            display: flex;
            align-items: flex-end;
            padding: 0 0 20px 28px;
        }
        &-4 {
            grid-area: photo4;
            background: url('../img/catalog4.1.jpg') no-repeat;
            background-size: 100%;
            background-position: 50% 58%;
            display: flex;
            align-items: flex-end;
            padding: 0 0 20px 28px;
        }
    }
    &-grid {
        width: 100%;
        height: 554px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 5%;
        grid-row-gap: 5%;
        grid-template-areas: 
            "photo1 photo2 photo2"
            "photo1 photo3 photo4";
    }
}

.our-company {
    margin-top: 96px;
    &_items {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 0 217px 0 217px;
        .item {
            width: 25%;
            .circle {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin: 63px auto 41px auto;
                &-1 {
                    background: url('../img/our_company1.jpg') no-repeat;
                    background-position: 50% 50%;
                    background-size: 155%;
                }
                &-2 {
                    background: url('../img/our_company2.jpg') no-repeat;
                    background-position: 50% 50%;
                    background-size: 155%;
                }
                &-3 {
                    background: url('../img/our_company3.jpg') no-repeat;
                    background-position: 50% 50%;
                    background-size: 155%;
                }
                &-4 {
                    background: url('../img/our_company4.jpg') no-repeat;
                    background-position: 50% 50%;
                    background-size: 155%;
                }
            }
            .text {
                font-weight: bold;
                font-size: 1.5em;
                color: #343967;
            }
        }
    }
}

.contact {
    margin-top: 72px;
    &-inner {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        .map {
            margin-right: 5%;
        }
        .form {
            width: 550px;
        }
        .input {
            width: 100%;
            height: 73px;
            border: 1px solid rgba(30, 34, 64, 0.35);
            padding: 0 20px;
            margin-top: 20px;
        }
        .input-text {
            position: absolute;
            display: inline-block;
            letter-spacing: 0.05em;
            color: #343967;
            background: #fff;
            padding: 0 3px;
            margin-left: 20px;
            transform: translateY(10px);
        }
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #383838;
    padding: 28px 48px;
    margin-top: 72px;
    &-logo {
        color: #5465FF;
    }
    .copyright {
        display: block;
        text-decoration: none;
        font-size: 0.7rem;
        line-height: 0.9rem;
        letter-spacing: 0.04em;
        color: #737373;
    }
    &-menu {
        margin-top: 25px;
        &_link {
            font-size: 0.8rem;
            color: #fff;
        }
    }
    .social {
        display: flex;
        margin-top: 16px;
        &_item {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            cursor: pointer;
            &-fb {
                background: #fff url('../icon/facebook.png') center no-repeat;
                margin-right: 57px;
                &:hover {
                    background-color: #FFBCBC;
                }
            }
            &-google {
                background: #fff url('../icon/google+.png') center no-repeat;
                margin-right: 57px;
                &:hover {
                    background-color: #FFBCBC;
                }
            }
            &-inst {
                background: #fff url('../icon/instagram.png') center no-repeat;
                &:hover {
                    background-color: #FFBCBC;
                }
            }
        }
    }
}

@import 'media';