* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none;
}

body {
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.nav .logo {
  font-weight: 900;
  font-size: 1.9em;
  line-height: 2.2em;
  text-decoration: none;
  color: #343967;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #343967;
}

.nav .menu_link {
  text-decoration: none;
}

.nav .menu_link:hover {
  color: #FFBCBC;
}

.nav .icons_link {
  text-decoration: none;
  margin-right: 29px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 46px;
  margin-left: 50px;
}

.header .background {
  position: relative;
  width: 505px;
  height: 702px;
  background: url("../img/main.png") center center/cover no-repeat;
  -webkit-filter: sepia(20%);
          filter: sepia(20%);
}

.header .triangle {
  position: absolute;
  margin-top: -100px;
  z-index: 9;
}

.header .circle {
  position: absolute;
  z-index: 9;
}

.header_text {
  margin: 311px 0 0 167px;
  z-index: 10;
}

.header_text .data {
  display: block;
  font-weight: 500;
  line-height: 108.5%;
  letter-spacing: 0.2em;
  color: #1E2240;
  margin-top: 25px;
}

.header_text .items {
  width: 330px;
  height: 50px;
  background: url("../icon/hashtag.png") left no-repeat;
  border-bottom: 1px solid #BFBEBE;
  padding: 15px 0;
  margin: 30px 0 43px 0;
}

.header_text .items_text {
  font-weight: 500;
  line-height: 108.5%;
  letter-spacing: 0.05em;
  color: #1E2240;
  text-decoration: none;
  margin-left: 50px;
}

.header_text .items_text::after {
  content: "\276F";
  margin-left: 89px;
}

.header_text .items_text:hover {
  color: #5364FE;
}

.header_text .visit-store {
  font-size: 0.9em;
  line-height: 108.5%;
  letter-spacing: 0.24em;
  font-weight: bold;
  text-decoration: none;
  color: #1E2240;
}

.header_text .visit-store:hover {
  -webkit-text-decoration: underline #5364FE;
          text-decoration: underline #5364FE;
}

.header_text .visit-store_span {
  font-size: 0.9em;
  color: #5364FE;
}

.header .circle-bg {
  margin: 20% 0 0 30%;
}

.title {
  position: absolute;
  font-weight: 900;
  font-size: 72px;
  line-height: 108.5%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #333973;
  margin-left: 5.3em;
  z-index: 10;
}

.title-accent {
  color: #FFD8B5;
  margin-left: 0;
}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 150.5%;
  letter-spacing: 0.05em;
  color: #343967;
  margin-top: 32px;
}

.btn {
  width: 229px;
  height: 49px;
  border: none;
  background: #FFD8B5;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 108.5%;
  letter-spacing: 0.2em;
  color: #1E2240;
  cursor: pointer;
}

.btn:hover {
  background: #FFBCBC;
}

.new-items {
  margin-top: 81px;
}

.new-items_title {
  position: relative;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0;
}

.new-items_title-accent {
  font-size: 2.5rem;
  letter-spacing: 0;
}

.new-items .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-top: 63px;
  margin-left: -50px;
}

.new-items .items_text {
  width: 400px;
  margin: 63px 0 0 180px;
}

.new-items .items_text-subtitle {
  font-size: 1.5em;
  color: #343967;
}

.new-items .items_text-descr {
  font-weight: 500;
  line-height: 1.6rem;
  letter-spacing: 0.05em;
  color: #343967;
}

.new-items .items_text-btn {
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1E2240;
  margin-top: 40px;
}

.new-items .items_text .price {
  font-weight: 800;
  font-size: 1.5rem;
  color: #343967;
  margin-left: 70px;
}

.new-items .items_img {
  width: 100%;
}

.new-items .items_count {
  font-weight: bold;
  font-size: 4.5em;
  color: rgba(31, 35, 71, 0.29);
  margin-top: 70px;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.new-items .items_count::before {
  content: "\FF1C";
  font-size: 1.2rem;
  font-weight: 400;
  color: #1f2347;
  vertical-align: middle;
  margin-right: 5px;
  cursor: pointer;
}

.new-items .items_count::after {
  content: "\FF1E";
  font-size: 1.2rem;
  font-weight: 400;
  color: #1f2347;
  vertical-align: middle;
  margin-left: 5px;
  cursor: pointer;
}

.new-items .items_next-page {
  display: none;
}

.catalog {
  font-size: 2.25em;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  padding: 0 118px;
}

.catalog_title {
  position: relative;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0;
  color: #343967;
  text-align: center;
  margin-top: 89px;
}

.catalog .item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: photo1;
  background: url("../img/catalog1.jpg") no-repeat;
  background-size: 183%;
  background-position: 50% 50%;
  -webkit-filter: sepia(40%) brightness(1.1);
          filter: sepia(40%) brightness(1.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 28px 28px;
}

.catalog .item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: photo2;
  background: url("../img/catalog2.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 60%;
  -webkit-filter: sepia(20%) saturate(120%) brightness(1.3);
          filter: sepia(20%) saturate(120%) brightness(1.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 28px 28px;
}

.catalog .item-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: photo3;
  background: url("../img/catalog3.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 70%;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 28px 28px;
}

.catalog .item-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: photo4;
  background: url("../img/catalog4.jpg") no-repeat;
  background-size: 100%;
  background-position: 50% 58%;
  -webkit-filter: sepia(5%) brightness(0.8);
          filter: sepia(5%) brightness(0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 28px 28px;
}

.catalog .grid {
  width: 100%;
  height: 554px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
      grid-template-areas: "photo1 photo2 photo2" "photo1 photo3 photo4";
}
/*# sourceMappingURL=style.css.map */